DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/paysynapse?schema=public"
NEXT_PUBLIC_PAYSYNAPSE_URL="http://localhost:3000"
NEXT_PUBLIC_MERCHANT_STORE_URL="http://localhost:3001"
